<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="SmppConfiguration.TimeOut" value="60000" />
    <add key="SmppConfiguration.StartAutomatically" value="true" />
    <add key="SmppConfiguration.Name" value="MyLocalClient" />
    <add key="SmppConfiguration.SystemID" value="smppclient1" />
    <add key="SmppConfiguration.Password" value="password" />
    <add key="SmppConfiguration.Host" value="localhost" />
    <add key="SmppConfiguration.Port" value="5016" />
    <add key="SmppConfiguration.SystemType" value="5750" />
    <add key="SmppConfiguration.DefaultServiceType" value="5750" />
    <add key="SmppConfiguration.SourceAddress" value="5750" />
    <add key="SmppConfiguration.AutoReconnectDelay" value="5000" />
    <add key="SmppConfiguration.KeepAliveInterval" value="5000" />
    <add key="SmppConfiguration.ReconnectInteval" value="10000" />
    <add key="SmppConfiguration.Encoding" value="UCS2" />
    <!-- None, DeliveryReceipt, DeliveryReceiptFailure, DeliveryAcknoledgement, ManualAcknoledgement, IntermediateNotification-->
    <add key="SmppConfiguration.RegisteredDeliveryValue" value="IntermediateNotification" />
    <add key="SmppConfiguration.UseSeparateConnections" value="true" />

  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SmppClientDemo" />
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <add name="SmppClientSwitch" value="4" />
      <add name="SendSmPDUSwitch" value="4" />
      <add name="SmppClientSessionSwitch" value="4" />
      <add name="StreamParserSwitch" value="4" />
    </switches>
  </system.diagnostics>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
