<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="appName" value="JamaaTech.Smpp.DemoClient" />
    
  
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Web" />    
  </extensions>
    
  <targets async="true">

    <!--Useful for debugging-->
    <target name="consolelog" xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
    
    <target name="file" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION\:${newline}${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}${newline}}" />

  <target xsi:type="Database" name="db">
      <!-- SQL command to be executed for each entry -->
      <commandText>INSERT INTO [NLog_Error]([time_stamp], [level], [host], [type], [source], [logger], [message], [stacktrace], [remote_addr], [user]) VALUES(getutcdate(), @level, @host, @type, @source, @logger, @message, @stacktrace, @remote_addr, @user)</commandText>

      <!-- parameters for the command -->
      <parameter name="@level" layout="${level:uppercase=true}" />
      <parameter name="@host" layout="${appName}@${machinename}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}:${exception:message}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@remote_addr" layout="${aspnet-request:serverVariable=remote_addr}" />
      <parameter name="@user" layout="${aspnet-request:queryString=user:whenEmpty=${aspnet-user-identity}}" />

      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>server=.;database=ibsoft_LoggingDB;user=sa;password=forsan;</connectionString>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    -->
    <logger name="*" minlevel="Debug" writeTo="consolelog" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="db" />
    
  </rules>
</nlog>