<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.NLog41" version="3.3.1" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
  <package id="NLog" version="4.1.2" targetFramework="net46" />
  <package id="NLog.Config" version="4.1.2" targetFramework="net46" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net46" />
  <package id="NLog.Web" version="4.2.1" targetFramework="net46" />
  <package id="SettingsReader" version="1.0.1.0" targetFramework="net46" />
</packages>